@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#nav-bar {
  display: flex;
  font-size: 1rem;
  background-color: rgb(213, 213, 213);
}

#nav-bar .link {
  padding: 0 2rem;
  font-weight: 600;
  color: black;
  transition: 0.6s;
}

#nav-bar .link:hover {
  color: rgb(2, 99, 255);
  cursor: pointer;
}

.logo {
  color: black;
  font-size: 1rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  transition: 0.6s;
}

.logo:hover {
  color: rgb(2, 99, 255);
  cursor: pointer;
}

#inicio {
  background: linear-gradient(270deg, rgba(62, 62, 16, 0.5), rgba(33, 61, 17, 0.5)), url("/Images/background-dinheiro.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  padding-left: 3rem;
  padding-right: 5rem;
  transition: 0.7s;
}

#inicio h1{
  color: white;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 3px;
}

#inicio p{
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 3px;
}

@media screen and (max-width: 500px){
  #inicio h1{
    font-size: 1.8rem;
  }

  #inicio p{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px){
  #inicio h1{
    font-size: 1.5rem;
  }

  #inicio p{
    font-size: 1rem;
  }
}

.composto {
  background-color: rgb(208, 208, 208);
  padding: 5rem 0;
}

.composto h2,
.composto label,
.composto p {
  font-weight: 600;
}

.simples {
  background-color: rgb(208, 208, 208);
  padding: 5rem 0;
}

.simples h2,
.simples label,
.simples p {
  font-weight: 600;
}

.sac {
  background-color: rgb(208, 208, 208);
  padding: 5rem 0;
}

.sac .aviso{
  background-color: rgba(214, 0, 0, 0.35);
  border: 1px solid red;
  color: black
}

.sac .aviso p{
  font-weight: 400;
  font-size: 1rem;
}

.sac h2,
.sac label,
.sac h4,
.sac ul,
.sac p {
  font-weight: 600;
}

@media screen and (max-width: 340px) {
  .sac h4{
    font-size: 1.2rem;
  }

  .sac ul{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 300px){
  .sac h4{
    font-size: 1rem;
  }

  .sac ul{
    font-size: 0.8rem;
  }
}

footer {
  background-color: rgb(193, 193, 193);
  padding: 2.5rem;
}

footer p {
  font-weight: 500;
  font-size: 1.1rem;
  color: black;
}